.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    padding: 0 10%;
}
.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}
.place-order-title{
    font-size: max(3vw, 20px);
    font-weight: 500;
    margin-bottom: 20px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline: none;
}
.place-order-left input:focus{
    outline: 1px solid coral;
}
.place-order-left .multi-field{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 30%;
    max-width: max(40%, 500px);
}
.place-order .cart-total button{
    margin-top: 30px;
}
.multi-fields{
    display: flex;
    gap: 10px;
}
@media(max-width: 750px) {
    .place-order{
        display: inline;
        padding: 20px;
        text-align: end;
        font-size: 14px;
    }
    .place-order-left p{
        text-align: center;
    }
    .place-order-left{
        padding: 20px;
    }
    .place-order-right{
        width: 80%;
    }
}