@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

.food-item-img{
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.food-item{
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-info{
    padding: 20px;
}
.food-item-info p{
    padding: 5px 0;
}
.food-item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food-item-name p{
    font-family: "Poly", serif;
    font-size: 17px;
    font-weight: bold;
}
.food-item-name img{
    width:70px;
}
.food-item-desc{
    height: 60px;
    color: #676767;
    font-size: 13px;
}
.food-item-price{
    color: coral;
    font-size: 20px;
    font-weight: bold;
}
.food-item-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add{
    padding: 7px 20px;
    color: white;
    background-color: rgb(63, 165, 91);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.food-item-counter{
    display: flex;
    gap: 15px;
    color: rgb(63, 165, 91);
    font-weight: bold;
}
.food-item-counter img{
    width:20px;
    border-radius: 50%;
    border: 0;
    background-color: #effaeb;
}
.add-remove-icon{
    padding: 3px;
}