.add{
    width: 70%;
    margin-left: max(5vw,25px);
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-name input, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input, .add-product-description textarea{
    padding: 10px;
    outline: none;
}
.add-product-name input:hover, .add-product-description textarea:hover, .add-category-price input:hover{
    outline: 1px solid black;
}
.add-category-price{
    display: flex;
    gap:30px;
}
.add-category-price input, .add-category-price select{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    border:none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}