.cart{
    margin-top: 40px;
    padding: 0 10%;
}
.cart-item-title{
    display: grid;
    grid-template-columns:1.2fr 1.5fr 1fr 1fr 1fr 0.2fr;
    align-items: center;
    font-size: max(1.3vw,12px);
    padding: 10px 20px;
    background-color: #cff1cf;
    border-radius: 2px;
}
.cart-items-item{
    display: grid;
    grid-template-columns:1.2fr 1.5fr 1fr 1fr 1fr 0.8fr;
    align-items: center;
    font-size: max(1.3vw,12px);
}
.cart-items-item{
    color: black;
}
.cart-items-item p, .cart-items-item img{
    border: 1px solid #cff1cf;
    padding: 10px;
    text-align: center;
    grid-template-columns:1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    height: 80px;
}
.cart-items-item p{
    padding-top: 30px;
}
.cart-items-item img{
    width: 100%;
    padding: 2px 20px;
}
.cart-items-item .cross{
    cursor: pointer;
}
.cart-bottom{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}
.cart-promo-code-input input{
    padding: 10px;
    border: 1px solid #5ba65b;
    outline: none;
}
.cart-total-item{
    border-radius: 4px;
    border: 1px solid #cff1cf;
}
.cart-total-item h2{
    background-color: #20313e;
    color: white;
    padding: 10px 50px;
    text-align: center;
    font-size: max(2vw,12px)
}
.cart-total-item hr{
    color: #cff1cf;
}
.cart-total-detail{
    padding: 10px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.cart-total-details b{
    font-size: 18px;
}
.cart-total-button{
    padding-top: 15px;
    text-align: end;
}
.cart-total button, .cart-promo-code-input button{
    padding: 10px;
    color: white;
    background-color: rgb(58, 135, 10);
    border: 1px solid transparent;
    cursor: pointer;
}
.cart-total button:hover, .cart-promo-code-input button:hover{
    background-color: rgb(48, 104, 11);
}
@media(max-width: 750px) {
    .cart-bottom{
        display: inline;
        padding: 20px;
        text-align: end;
        font-size: 14px;
    }
    .cart-promo-code{
        padding: 10px;
    }
    .cart-total{
        padding: 10px 0 10px 35%;
    }
}