.sidebar{
    width: 18%;
    min-height: 100vh;
}
.sidebar-options{
    padding-top: 30px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    padding: 8px 10px;
    border-radius: 2px;
    cursor: pointer;
}
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: coral;
}

@media(max-width:900px){
    .sidebar-option p{
        display: none;
    }
}