@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.action, .action span{
    font-family: "Dancing Script", cursive;
    font-style: normal;
}
.navbar{
    padding: 2vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6%;
}
.navbar h1{
    font-size: 30px;
    width: 110px;
}
.navbar span{
    color: coral;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
    cursor: pointer;
}
.nav-icon{
    display: flex;
    gap: 50px;
}
.nav-icon img{
    height: 25px;
    width: 25px;
}
.nav-right{
    display: flex;
    gap: 10px;
}
.nav-right button{
    padding:10px 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: coral;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}
.nav-right button:hover{
    background-color: coral;
    border: 1px solid coral;
    color: white;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid coral;
    color: coral;
}
.nav-cart-bar{
    position: relative;
}
.nav-cart-bar .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: coral;
    right: -8px;
    top: -8px;
}
.nav-profile{
    position: relative;
}
.nav-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 8px;
    background-color: #f1f1f1;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.nav-profile-dropdown li{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width:20px;
}

@media (max-width:1050px) {
    .navbar{
        gap:2%;
    }
    .navbar h1{
        width:140px;
    }
    .nav-links{
        gap:10px;
        font-size: 17px;
    }
    .nav-icon{
        gap:30px;
    }
    .nav-icon img{
        width: 22px;
    }
    .nav-right button{
        padding:6px 25px;
    }
}

@media (max-width:900px) {
    .navbar{
        gap:10px;
    }
    .navbar h1 {
        width: 100px;
    }

    .nav-links {
        gap: 10px;
        font-size: 10px;
    }

    .nav-icon {
        gap: 30px;
    }

    .nav-icon img {
        width: 20px;
    }

    .nav-right button {
        padding: 8px 20px;
        font-size: 12px;
    }
}

@media (max-width:750px) {
    .nav-links {
        display: none;
    }
}