@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.action, .action span{
    font-family: "Dancing Script", cursive;
    font-style: normal;
}
.footer h1{
    font-size: 60px;
}
.footer span{
    color: coral;
}
.footer{
    color: #d9d9d9;
    background-color: #323232;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding: 80px 8vw 20px 8vw;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left{
    width: 500px;
}
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-content-left li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-right h2, .footer-content-center h2{
    color: white;
    font-size: 25px;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    height: 2px;
    margin: 30px 0;
    background-color: gray;
    border: none;
}
.footer-copyright{
    padding: 10px;
    text-align: center;
}
.footer-content-info{
    display: flex;
    gap: 140px;
}
@media (max-width: 750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    .footer h1{
        font-size: 40px;
    }
    .footer-content-left{
        width: 100%;
    }
}
@media (max-width: 900px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    .footer-content-info{
        display: flex;
        gap:30%;
    }
    .footer-content-left{
        width: 80%;
    }
}
@media (max-width: 1050px){
    .footer-content-info{
        display: flex;
        gap:10%;
    }
}