@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.book h1{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-size: max(3.5vw, 30px);
    color: rgb(16, 109, 44);
    padding-bottom: 20px;
}
.book-form img{
    width: 300px;
    height: 320px;
}
.book-form{
    display: flex;
    padding: 20px 12%;
}
.form-item input,.form-select select {
    outline: none;
}
.form-item input:hover, .form-select select:hover{
    outline: forestgreen solid 1px;
    border-radius: 2px;
}
.form-item input{
    width: 35ch;
    padding: 10px;
}
.form-group {
    display: flex;
    gap: 70px;
    padding: 10px 25px;
}
.form-select{
    padding: 0 25px 35px 25px;
}
.form-select p{
    padding: 10px 0;
}
.form-select select {
    background-color: white;
    border: 1px solid rgb(167, 154, 154);
    width: 35ch;
    padding: 12px ;
    border-radius: 2px;
    outline: none;
}
.submit{
    padding: 10px 20%;
}
.book form button{
    padding: 10px 15ch;
    border: 1px solid transparent;
    border-radius: 16px;
    color: white;
    background-color: rgb(16, 109, 44);
    font-size: 20px;
    cursor: pointer;
}
.book form button:hover {
    background-color: rgb(16, 109, 44);
}

@media (max-width:900px){
    .book-form img{
        display: none;
    }
    .book form {
        border: 0;
        border-radius: 24px;
        padding: 20px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(4, 131, 72);
        box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
    }
    .book form button{
        background-color: rgb(4, 131, 72);
        color: white;
        border: 2px solid white;
        font-weight: bold;
    }
    .book form button:hover{
        background-color: white;
        color: rgb(4, 131, 72);
    }
}
@media(max-width:750px){
    .book-form img{
        display: none;
    }
    .form-group{
        display: inline;
    }
    .form-item{
        padding-bottom: 10px;
        display: flex;
        gap:20px;
    }
    .form-item label{
        padding: 10px 0;
        width: 40px;
    }
    .form{
        border: 0;
        border-radius: 24px;
        padding: 20px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        background-color: rgb(4, 131, 72);
        box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
    }
    .book form button{
        padding: 10px 80px;
        background-color: rgb(4, 131, 72);
        color: white;
        border: 2px solid white;
        font-weight: bold;
    }
    .book form button:hover{
        background-color: white;
        color: rgb(4, 131, 72);
    }
}