
.resto-img {
    text-align: center;
    position: relative;
    padding-bottom: 20%;
}
.resto-img img{
    width: max(17vw, 120px);
    height: max(24vw, 160px);
}
.img-fluid {
    position: absolute;
    padding: 0 40%;
}
.img-fluids{
    display: flex;
    gap: 39%;
    text-align: center;
    padding: 10% 30.8% 0 25%;
}
@media(max-width:750px){
    .img-fluids{
        gap: 40%;
    }
}
@media(max-width: 412px) {
    .resto-img {
        position: relative;
        width: 100%;
        height: 250px;
    }

    .resto-img img {
        position: absolute;
        width: 100px;
        height: 120px;
        object-fit: cover;
    }
    .img-fluid img:first-child {
        top: 0;
        left: 36%;
    }

    .img-fluids img:first-child {
        top: 55px;
        left: 45px;
    }

    .img-fluid img:last-child {
        top: 55px;
        right: 60px;
    }

    .img-fluids img:last-child {
        top: 125px;
        left: 48%;
        transform: translateX(-50%);
    }

    .img-fluid,
    .img-fluids {
        position: static;
        padding: 0;
    }
}
