.food-display{
    margin-block: 50px;
    padding: 0 50px;
}
.food-display h1{
    font-size: 30px;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 30px;
    gap:30px;
    row-gap: 50px;

}